body {
    font-family: helvetica, arial, sans-serif;
    display: block;
}

div {
    display: block;
}

.container {
    max-width: 960px;
    margin: auto;
}

.banner-section {
    height: 31rem;
    background-image: url("../images/glasses-bg.png");
    background-size: cover;
    padding-top: 1rem;
}

.logo-menu {
    background-color: cadetblue;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.menu li {
    display: inline;
    padding: 0 1rem;
}

.shortMenu {
    display: none;
    padding: 0 1rem;
}

.flex {
    display: flex;
}

.banner-section .flex {
    justify-content: flex-end;
}

.banner {
    margin-top: 10rem;
    display: inline-block; 
    padding: 1.5rem 5rem;
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-right: -2rem;
}

.banner-container.banner {
    justify-content: flex-end;
    margin-right: -2rem;
}

.service-section {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    width: 5rem;
    text-align: center;
    margin: 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service img {
    width: 5rem;
    margin-bottom: 1rem;
}

.service img.paper-icon {
    width: 3.5rem;
}

.info.container.flex {
    justify-content: flex-start;
    margin-bottom: 4rem;
}

.info-container {
    width: 35%;
    flex-direction: column;
    margin-left: 5%;
}

.info-title {
    color: white;
    background-color: cadetblue;
    width: 10rem;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

.foot.container.flex {
    background-color: azure;
    align-items: center;
    /*justify-content: center;*/
}

.foot img {
    padding: 4rem 1rem 4rem 3rem;
    height: 1.5rem;
}

@media only screen and (max-width: 960px) {

    .container {
        max-width: 100%;
        margin: auto;
    }

    .banner-section {
        height: 22rem;
        background-image: url("../images/glasses-bg.png");
        background-size: cover;
        padding-top: 0;
    }

    .banner {
        margin-top: 5rem;
        display: inline-block; 
        padding: .75rem 4rem;
        background-color: white;
        font-weight: bold;
        font-size: 1.33rem;
        margin-right: 2rem;
    }

}

@media only screen and (max-width: 700px) {

    .logo span {
        display: none;
    }

    .menu li {
        display: none;
        padding: 0 1rem;
    }

    .shortMenu {
        display: inline;
        padding: 0 1rem;
    }

    .banner-section {
        height: 17rem;
        background-image: url("../images/glasses-bg.png");
        background-size: cover;
        background-position: 20%;
        padding-top: 0;
    }

    .banner {
        margin-top: 9rem;
        display: inline-block; 
        padding: 1rem 0;
        background-color: white;
        font-weight: bold;
        font-size: 1rem;
        width: 100%;
        /*margin-right: 2rem;*/
    }

    .service-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .info.container.flex {
        justify-content: flex-start;
        margin-bottom: 4rem;
        flex-direction: column;
        align-items: center;
    }

    .info-container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .info-title {
        color: white;
        background-color: cadetblue;
        width: 100%;
        font-weight: bold;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: .5rem;
        padding-left: 1.25rem;
        padding-right: .5rem;
        margin-bottom: 1rem;
    }

    .info-container p {
        font-size: 0.77rem;
        padding-right: 0.5rem;
    }

    .copy {
        display: none;
    }

    .foot.container.flex {
        background-color: azure;
        align-items: center;
        justify-content: center;
    }

}