body {
    font-family: helvetica, arial, sans-serif;
    display: block;
}

.container {
    max-width: 960px;
    margin: auto;
}

.banner-section {
    height: 31rem;
    background-image: url("../images/glasses-bg.png");
    background-size: cover;
    padding-top: 1rem;
}

.logo-menu {
    background-color: cadetblue;
    padding: 1rem 2rem;
    top: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

ul li {
    display: inline;
    padding: 0 1rem;
}

.flex {
    display: flex;
}

.banner-section .flex {
    justify-content: flex-end;
}

.banner {
    margin-top: 10rem;
    display: inline-block; 
    padding: 1.5rem 5rem;
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-right: -2rem;
}

.banner-container.banner {
    justify-content: flex-end;
    margin-right: -2rem;
}

.service-section {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    height: 8rem;
    width: 5rem;
    text-align: center;
    padding: 3rem;
    flex-direction: column;
    justify-content: space-between;
}